.ui-layout-pane ,
.ui-layout-content {
	background:	none;
	border:		0;
	padding:	0;
	overflow:	visible;
}

.ui-layout-toggler {
	background-color: #3ed4e7 !important;
}
.ui-layout-toggler:hover {
	background-color: #fff !important;
}

/* want to decrease the accordion header height, but this isn't having any effect */
.ui-accordion .ui-accordion-header {
	height: 30px !important;
}

/* override left-panel thick paddings */
.ui-accordion-content {
	padding-left: 15px !important;
	padding-right: 15px !important;
}


p				{ margin:		1em 0; }

/* use !important to override UI theme styles */
.grey			{ background:	#061a34 !important; }
.outline		{ /*border:		1px dashed #F00 !important;*/ }
.add-padding	{ padding:		10px !important; }
.no-padding		{ padding:		0 !important; }
.add-scrollbar	{ overflow:		auto; }
.no-scrollbar	{ overflow:		hidden; }
.allow-overflow	{ overflow:		visible; }
.full-height	{ height:		100%; }
button			{ cursor:		pointer; }

.ui-widget-overlay {
	background-color: black;
    background-image: none;
    opacity: 0.5;
}

/* override loading animation CSS, not all working, still need JS */
.ui-dialog-titlebar {
	display: none;
}
#loading-dialog {
	padding: 0px !important;
	border: 0px;
	background-color: transparent;
	background-image: url("https://s3.amazonaws.com/eterna/icon_img/loading.gif");
	background-repeat: no-repeat;
	background-position: center; 
	height: 50px !important;
	min-height: none !important;
}
.ui-dialog {
	padding: 0px !important;
	border: 0px !important;
	background-color: #333 !important;
	opacity: 0.5;
	height: 50px !important;
	width: 50px !important;
}

/* nucleotide colors */
.nt-G { color: #f33;}
.nt-C { color: #3f3;}
.nt-A { color: #ff3;}
.nt-U { color: #77f;}
.nt-N { color: #ccc;}

/* auto expand/ellipse long text */
.txt-hover {
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;	
	max-width: 20em;
	margin: 0;
}
.txt-hover:hover {
	white-space: normal;
	overflow: visible;
	word-break: break-all;
}

thead > tr > th {
	text-align: center;
	color: #000 !important;
	min-width: 100px;
	max-width: 400px;
	table-layout: fixed;
}

tbody > tr > td {
	white-space: nowrap;
	overflow: hidden;
	min-width: 6em;
}

span.td-num {
	margin: auto;
	display: block;
	text-align: right;
	padding-right: 15px;
}

td.master {
	font-weight: bold;
}

.table-button {
	color: #fff !important;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px 10px;
}

.type-of-displayed-info, .purple-button, .green-button, .blue-button {
	color: #fff;
}

.col-option-holder {
	height: 85% !important;
	width: 100%;
}

.col-options-panel {
	height: 100%;
	width: 100% !important;
	margin: 0;
}

.col-sort-chk {
	width: 25px;
}

.left-panel-btn {
  float:right;
  width:75px;
  margin-right:17px;
  padding:5px 0px;
}

.type-of-displayed-info {
  height: auto;
  width: 375px;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
  overflow: hidden;
}

.column-title {
  width: 290px !important;
  padding-bottom: 0px;
}

.col-sort-opt, .lab-sele {
	float: right !important;
    margin-right: 10px;
    margin-left: 0px !important;
    margin-bottom: 5px;
    background-color: #011E46;
    width: 40px;
}

/* filter input size */
.col-filter-num {
	width: 60px;
	display: inline-block;
}

.col-filter-txt {
	width: 130px;
	display: inline-block;
	padding: 1px !important;
}

input:disabled {
	background-color: #ccc;
}

.ui-tabs-panel {
	padding: 0em 1em !important;
	border-bottom: 3pt solid #2191c0 !important;
}

/* some color class */
.light-green-font {
	/* color: #4cbb17; */
	color: #00ff00;
}
.orange-font {
	color: #ff912e;
}
.cyan-font {
	color: #3ed4e7;
}

/* to make sure table body height calculation is right */
.red-header {
	height: auto !important;
	overflow: hidden;
}
